<!DOCTYPE html>
<html lang="pt">

<body>

    <%- include('header') %>




    <h2> ADMIN</h2>
    <div>
        <ul>
            <li><a href="/admin/categorias"> Gerenciar Categorias</a></li>
            <li><a href="/admin/vagas"> Gerenciar Vagas</a></li>

        </ul>
    </div>

    <%- include('footer') %>

</body>

</html>