<!DOCTYPE html>
<html lang="pt">

<body>

    <%- include('header') %>

    <h2> Nova Vaga
        <a href="/admin/categorias"> Vagas </a>
    </h2>

    <div>
        <form method="POST">
            <label> Título </label>
            <input type="text" name="categoria">
            <br>
            <button>Salvar Categoria</button>

        </form>


    </div>

    <%- include('footer') %>

</body>

</html>