body{

    font-family: 'Roboto', sans-serif;
}

p{
    text-align: center;
}

h1 {
    text-align: center;
}

h1 img { 

    max-width: 300px;
    max-height: 300px;
    width:auto;
    height:auto;
    
    
}

ul{
    list-style: none;
    padding-left: 16px;

}

h2{
    background-color: #c4c4c4;
    padding: 8px;
    font-size: 24px;
}
h3{
    font-size: 24px;
}

label{
    display: block;
    margin: 20px 0 5px  0;
}

input, select {
    display: block;
    padding: 5px;
    width: 400px;

}

textarea{
    padding: 5px;
    width: 400px;
    height: 200px;
}

button{
    padding: 10px;  
}